/** 
* Anax Flat theme.
*/
@import url(modules.less);
@import url(grid-helpers.less);


/** ----------------------------
* Body
*/

body {
	background-color: #e6f9ff;
}

p {
    text-align: left;
}



/** ----------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}


/** ------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

// Style navbar
.rm-desktop li {
	position: relative;
	top: 1em;
    background-color: #b3c6ff;
    border: 1px;
    border-style: solid;
    border-color: #009933;
    border-radius: 10%;
}

@navbarItemBgColor: #b3c6ff;


// Size each item in the header
.site-logo-text,
.navbar2,
.profile {
    float: left;
    // width: 30%;
}

.site-header {
    height: 80px;
    background-color: #e6f9ff;
}

// Site title
.site-logo-text {
    font-size: 2em;
    
    a {
        text-decoration: none;
    }
}
img {
    max-width: 100%;
}

.route-grid {
    .showgrid(960px);
    font-family: Courier;

}
.route-typography {
    background: url("../../htdocs/img/horisontal-grid-24.png");
    background-repeat: repeat;
    
    font-family: @fontFamilyHelveticaNeue;
    h1, h2, h3, h4, h5, h6 {
        font-family: @fontFamilyHelveticaNeue;
}
}


/** --------------------
* responsive design
*/

@media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 750px) {
    .sidebar {
        //width: 100%;
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
     .site-logo-text {
         width: 90%;
     }
     
     .navbar2 {
         display: none;
     }
 }
